
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@import "bootstrap_variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

*, html, body {
  font-family: 'Roboto', sans-serif;
}

#main {
  margin-top: 86px;
}

#map-canvas{
  height: calc(100vh - 86px);
  width: 100vw;
  border: 0;
}

.panel-auth {
  margin-top: 40px;
}

.search-container {
  position: absolute;
  top: 96px;
  left: 111px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  padding: 10px;
  border-radius: 3px;

  .form-group {
    margin-bottom: 0;
  }
}

.result-container {
  position: absolute;
  top: 156px;
  left: 111px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  padding: 25px;
  padding-top: 0;
  border-radius: 3px;
  max-height: 500px;
  overflow-y: scroll;

  .form-group {
    margin-bottom: 0;
  }
}

.detail-container {
  position: absolute;
  top: 96px;
  left: 111px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  padding: 15px;
  border-radius: 3px;
  max-height: 600px;
  overflow-y: scroll;

  .form-group {
    margin-bottom: 0;
  }
}

.detail {
  display: block;
}

.search-input {
  border: 0 !important;
  box-shadow: none;
  font-size: 20px;

  &:focus {
    border: 0 !important;
    box-shadow: none;
  }
}

.results {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  transition: all 0.2s ease;
  width: 105%;

  &:hover {
    background: #f2f2f2;
  }

  .thumbnail-image {
    object-fit: cover;
    width: 50px;
    height: 50px;
  }
  .arrow-next {
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
  h2 {
    font-size: 20px;
    color: #505050;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 2px;
  }
  p {
    margin: 0;
    font-size: 12px;
    color: #505050;
  }
}

.result-search {
  display: block;
}

.carousel-park {
  margin: -15px;
  margin-bottom: 20px;
}